.merlin
_build/
tezos
*~
*.cmo
*.cmi
*.tmp
*.log
*.pid
legicash.install
geth-data
src/facilitator_contract_binary.ml
src/endpoints/endpoints.conf
src/endpoints/endpoints-test.conf
src/endpoints/accounts/
src/endpoints/confirmations/
src/endpoints/facilitator_state/
src/endpoints/local/
src/endpoints/legicash/

