.merlin
_build/
_run/
_ethereum/
_opam/
tezos
*~
*.tmp
*.pyc
*.swp
*.cmi
*.cmo
*.diff
a.out
alacris.install
ppx_deriving_rlp.install
src/alacris_lib/operator_contract_binary.ml
config/contract_config.json
foo
dependencies/
.DS_Store
node_modules/
.source.tar.gz
